In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time
import numpy as np

In [2]:
from IPython.display import display, HTML

CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

In [3]:
driver = webdriver.Chrome() 
driver.get("https://emap.pcsc.com.tw/emap.aspx#")

In [4]:
taipei = driver.find_elements_by_css_selector("#maplink_taipei")
taipei[0].click()
time.sleep(2)
Nan = driver.find_element_by_css_selector("#town_南港區")
Nan.click()
time.sleep(5)
address = {}
nextpage =  driver.find_element_by_css_selector("#Next")
for k in range(8):
    print(f"page : {k+2}")
    for i in range(2,7):
        try:
            key = driver.find_element_by_css_selector(
                f"#mytb > tbody > tr:nth-child({i}) > td:nth-child(1)").text
            content = driver.find_element_by_css_selector(
                f"#mytb > tbody > tr:nth-child({i}) > td:nth-child(2) > table > tbody > tr:nth-child(2) > td")
            content = content.text.split("\n")[0][3:]
            address[key] = content
        except:
            break
    try:
        nextpage =  driver.find_element_by_css_selector("#Next")
        nextpage.click()
        time.sleep(1)
    except:
        break

page : 2
page : 3
page : 4
page : 5
page : 6
page : 7
page : 8
page : 9

In [5]:
print(len(address) == 36)

True

In [6]:
addr = list(address.values())
addr[1] = addr[1][:-8]
addr

['台北市南港區中坡南路47號1樓',
 '台北市南港區研究院路二段128號1樓',
 '台北市南港區經貿二路186號2樓',
 '台北市南港區西新里南港路三段3號1樓',
 '台北市南港區玉成街150號1樓',
 '台北市南港區向陽路166號1樓',
 '台北市南港區研究院路二段152號',
 '台北市南港區南港路一段303號305號307號1樓',
 '台北市南港區忠孝東路六段465號1樓',
 '台北市南港區忠孝東路六段448號',
 '台北市南港區東新街80巷1號',
 '台北市南港區研究院路二段14號',
 '台北市南港區研究院路二段94號96號98巷1號',
 '台北市南港區重陽路179號181號1樓',
 '台北市南港區南港路一段167號1樓',
 '台北市南港區八德路四段778號780號',
 '台北市南港區忠孝東路七段359號1樓',
 '台北市南港區南港路一段313號B2',
 '台北市南港區經貿二路1號',
 '台北市南港區經貿二路2號B1樓',
 '台北市南港區玉成街69號1樓',
 '台北市南港區福德街373巷25號',
 '台北市南港區興華路119號121號123號125號',
 '台北市南港區忠孝東路七段371號B2',
 '台北市南港區忠孝東路七段369號2樓',
 '台北市南港區研究院路三段72號74號1樓',
 '台北市南港區忠孝東路六段276號',
 '台北市南港區重陽路164號',
 '台北市南港區成福路145號147號',
 '台北市南港區三重路19號1樓',
 '台北市南港區聯成里昆陽街150-1號150-3號',
 '台北市南港區東新街118巷1號',
 '台北市南港區三重路23號1樓',
 '台北市南港區南港路三段49-1號',
 '台北市南港區研究院路一段99號1樓之14',
 '台北市南港區經貿二路168號4樓']

In [ ]:
googlemap = webdriver.Chrome() 
googlemap.get("https://www.google.com.tw/maps/dir///@24.9749457,121.5475514,13.1z/data=!4m2!4m1!3e0")

In [ ]:
start = googlemap.find_element_by_css_selector("#sb_ifc50 > input")
des = googlemap.find_element_by_css_selector("#sb_ifc51 > input")
start.clear()
des.clear()

In [ ]:
options = ["#section-directions-trip-0 > div > div:nth-child(1) > div.xB1mrd-T3iPGc-iSfDt-n5AaSd > \
                            div.xB1mrd-T3iPGc-iSfDt-duration.delay-light > span:nth-child(1)", 
           "#section-directions-trip-0 > div > div:nth-child(1) > div.xB1mrd-T3iPGc-iSfDt-n5AaSd > \
                            div.xB1mrd-T3iPGc-iSfDt-duration.delay-medium > span:nth-child(1)", 
           "#section-directions-trip-0 > div > div:nth-child(1) > div.xB1mrd-T3iPGc-iSfDt-n5AaSd > \
                            div.xB1mrd-T3iPGc-iSfDt-duration > span:nth-child(1)"]
distance = "#section-directions-trip-0 > div > div:nth-child(1) > div.xB1mrd-T3iPGc-iSfDt-n5AaSd > \
            div.xB1mrd-T3iPGc-iSfDt-tUvA6e.xB1mrd-T3iPGc-iSfDt-K4efff-text > div"

In [ ]:
# dist = np.zeros([36, 36])
n = len(addr)
for i in range(9):
    start.send_keys(addr[i])
    print(f"{i+1}/36")
    for j in range(i+1, n):
        des.send_keys(addr[j])
        search = googlemap.find_element_by_css_selector(
            "#directions-searchbox-1 > button.nhb85d-BIqFsb")
        search.click()
        time.sleep(4)
        trip = 0
        count = 0
#         while trip >= 0 and count < 3:
#             try:
#                 fast = float(googlemap.find_element_by_css_selector(options[count]).text[:-2])
#                 trip-=1
#                 dist[i, j] = fast
#                 dist[j, i] = fast
#             except:
#                 count+=1
        dis = googlemap.find_element_by_css_selector(distance).text
        if dis[-2:] == "公里":
            dis = float(dis[:-3])
        else:
            dis = float(dis[:-3])/1000
        dist[i, j] = dis
        dist[j, i] = dis
        print(dis)
        des.clear()
    start.clear()

In [ ]:
df = pd.DataFrame(dist, index = list(address.keys()), columns = list(address.keys()))

In [ ]:
start = googlemap.find_element_by_css_selector("#sb_ifc50 > input")
des = googlemap.find_element_by_css_selector("#sb_ifc51 > input")
start.clear()
des.clear()

In [ ]:
for i in range(36):
    for j in range(i+1, 36):
        if df.iloc[i, j] == 0:
            start.clear()
            des.clear()
            start.send_keys(addr[i])
            des.send_keys(addr[j])
            search = googlemap.find_element_by_css_selector(
                    "#directions-searchbox-1 > button.nhb85d-BIqFsb")
            search.click()
            time.sleep(3)
            try:
                fast = float(googlemap.find_element_by_css_selector(
                                "#section-directions-trip-0 > div > div:nth-child(1) > div.xB1mrd-T3iPGc-iSfDt-n5AaSd > \
                                div.xB1mrd-T3iPGc-iSfDt-duration.delay-light > span:nth-child(1)").text[:-2])
                df.iloc[i, j] = fast
                df.iloc[j, i] = fast
            except:
                float(googlemap.find_element_by_css_selector(
                                "#section-directions-trip-0 > div > div:nth-child(1) > div.xB1mrd-T3iPGc-iSfDt-n5AaSd > \
                                div.xB1mrd-T3iPGc-iSfDt-duration > span:nth-child(1)").text[:-2])
                df.iloc[i, j] = fast
                df.iloc[j, i] = fast

In [ ]:
(df == 0).sum().sum() - 36

In [ ]:
df

In [ ]:
df.to_csv("distance.csv", encoding = 'big5')

In [14]:
dd = pd.read_csv("distance.csv", encoding = 'big5', index_col = 0)

In [17]:
dd.iloc[:8, :8]

      中坡   中研   中貿    玉成    玉德    向揚   庄研   佳樂
中坡  0.00  5.4  5.9  2.20  0.45  2.40  5.6  3.4
中研  5.40  0.0  2.7  4.30  5.30  4.20  1.1  2.7
中貿  5.90  2.7  0.0  3.10  4.50  3.00  2.6  1.5
玉成  2.20  4.3  3.1  0.00  2.30  0.45  4.4  1.6
玉德  0.45  5.3  4.5  2.30  0.00  2.20  5.3  3.1
向揚  2.40  4.2  3.0  0.45  2.20  0.00  4.8  2.3
庄研  5.60  1.1  2.6  4.40  5.30  4.80  0.0  2.9
佳樂  3.40  2.7  1.5  1.60  3.10  2.30  2.9  0.0